/* *{
  max-width: 1140px;
} */

/* button style */
.btn-primary{
  width: 132px;
  height: 40px;
  background-color:#4E47FF;
  color:#FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight:600;
  font-family: 'Inter', sans-serif;

  
  /* font-weight: bold; */
}

.btn-primary:hover{
  background-color: plum;
  color: #FFFFFF;
  cursor: pointer;

}
/* header style */

.header{
  background-image: url("./../Assets/Hero-bg.png");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  margin-bottom:152px;
  padding: 0 152px;
  height: 151px;
}

.header button{
  height: 48px;
  width: 174px;
}
.header nav ul li button{
  height: 48px;
  width: 132px;
}
nav h3{
  font-size: 45px;
  color: #4E47FF;
}
nav ul li{
  list-style: none;
}

/* stay style */
.stay-title{
font-size: 65px;
}

.stay{
  width: 905px;
  height: 237px;
  /* margin: 0px 152px 152px 267.5px; */
padding-bottom: 152px;
}

/* Live preview  */
.live-preview{
  display: flex; 
  gap: 500px; 
  margin: 42px 159px 116px 141px;
  justify-content: space-between;
}

.live-preview h3 h4 button{
  display: inline-block;
}
.live-preview img{
  border-radius: 48px;
}
.one{
  padding-bottom: 23px;
}
.one button{
height:48px ;
width:229px;
}
.one h3{
  font-size:42px;
  margin-bottom: 0;
}
.one h4{
  font-size: 24px;
  opacity: 50%;
  font-weight:normal;
}
.one{
  padding-left: 150px;
}
